:root{
    --background: #232933;
    --theme: #ea3f30;
}

*::selection{ background: transparent; }

button{ border: none; outline:none; }

body{
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

div.rects{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 11;
    transition: 1s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: visible;
}

img.rects{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: 1s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#start:hover ~ *>img.rects{ filter: grayscale(0); }
img.rects:hover{ filter: grayscale(0); transition: .5s all ease-out; }


@keyframes rects-hover{ 0%{ transform: translateY(-10px)} 100%{ transform: translateY(10px)} }

div#rect-1{
    top: 12%; left: 33%; transform: rotate(45deg);
    animation: rects-hover 6s alternate-reverse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) }
img#rect-1{ animation: rect-1-anim 10s alternate-reverse infinite cubic-bezier(0.645, 0.045, 0.355, 1) }
@keyframes rect-1-anim{ 0%{ transform: rotate(25deg)} 100%{ transform: rotate(65deg)} }

div#rect-2{
    top: 26%; right: 16%; transform: rotate(90deg);
    animation: rects-hover 5.5s alternate-reverse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) }
img#rect-2{ animation: rect-2-anim 11s alternate-reverse infinite cubic-bezier(0.645, 0.045, 0.355, 1); animation-delay: -4s }
@keyframes rect-2-anim{ 0%{ transform: rotate(0deg)} 100%{ transform: rotate(90deg)} }

div#rect-3{
    bottom: 35%; right: 7%; transform: rotate(-22.5deg);
    animation: rects-hover 4s alternate-reverse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) }
img#rect-3{ animation: rect-3-anim 10.5s alternate-reverse infinite cubic-bezier(0.645, 0.045, 0.355, 1); animation-delay: -1s }
@keyframes rect-3-anim{ 0%{ transform: rotate(2.5deg)} 100%{ transform: rotate(42.5deg)} }

div#rect-4{
    bottom: 45%; left: 11%; transform: rotate(22.5deg);
    animation: rects-hover 7s alternate-reverse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) }
img#rect-4{ animation: rect-4-anim 11.5s alternate-reverse infinite cubic-bezier(0.645, 0.045, 0.355, 1); animation-delay: -2s }
@keyframes rect-4-anim{ 0%{ transform: rotate(2.5deg)} 100%{ transform: rotate(42.5deg)} }

div#rect-5{
    bottom: 15%; left: 30%; transform: rotate(-22.5deg);
    animation: rects-hover 5s alternate-reverse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) }
img#rect-5{ animation: rect-5-anim 9s alternate-reverse infinite cubic-bezier(0.645, 0.045, 0.355, 1); animation-delay: -3s }
@keyframes rect-5-anim{ 0%{ transform: rotate(-2.5deg)} 100%{ transform: rotate(-42.5deg)} }


#details-sign{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    color: rgba(255, 255, 255, .2);
    z-index: 12;
    font-size: 17pt;
    letter-spacing: 3px;
    text-decoration: none;
    font-variant: small-caps;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 13;
}

#header > *{
    padding: 5px;
    margin: 10px;
    font-family: 'Roboto';
    color: rgba(255, 255, 255, .4);
    display: inline-block;
    font-size: 15pt;
    cursor: pointer;
    text-decoration: none;
    transition: .1s ease all;
}

#header > a:hover{ color: rgba(255, 255, 255, .9) }

#header > a#logo{
    background: url(https://cdn.discordapp.com/attachments/391709565520969729/393729127099662336/brawler-helmet.svg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    transform: translate(15px, 15px);
    padding: 15px;
    margin: 0px;
}

#header > button{
    right: 0;
    position: absolute;
    background: #41454f;
    border-radius: 5px;
    color: rgba(255, 255, 255, .6);
    padding: 10px 10px;
    box-shadow: 0 3px 20px -7px black;
}

#site-content{
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 14;
    background: var(--background);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

#start{
    position: absolute;
    left: 50%;
    bottom: 25%;
    padding: 15px 20px;
    font-family: 'Roboto';
    font-size: 20pt;
    z-index: 12;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    background: var(--theme);
    color: white;
    cursor: pointer;
    box-shadow: 0 3px 20px -7px black;
}

#wct-brawler{
    position: absolute;
    height: 25%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
}

#wave-cont{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-waves{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 106%;
}


/* Giving the background waves different animations */

#wave-a {z-index: 5; animation: wave-a-anim alternate infinite ease-in-out 5s;}
#wave-b {z-index: 6; animation: wave-b-anim alternate infinite ease-in-out 7s; animation-delay: -2s}
#wave-c {z-index: 7; animation: wave-c-anim alternate infinite ease-in-out 4s; animation-delay: -1s}

@keyframes wave-a-anim{
    0%{transform: translate(0, 0)}
    100%{transform: translate(-3%, 0)}
}

@keyframes wave-b-anim{
    0%{transform: translate(0, 0)}
    100%{transform: translate(0, 5%)}
}

@keyframes wave-c-anim{
    0%{transform: translate(0, 0)}
    100%{transform: translate(3%, 0)}
}


/* Custom scrollbar - works only on webkit browsers */

body::-webkit-scrollbar{ width: 6px; }
body::-webkit-scrollbar-track{ background-color: var(--background); }
body::-webkit-scrollbar-thumb{ background: #525252; border-radius: 100px; }
body::-webkit-scrollbar-thumb:hover{ background: var(--theme); }
